/*
* Third Party
*/
@import "../../node_modules/node-normalize-scss/_normalize.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import "../../bower_components/slick-carousel/slick/slick.scss";
@import "../../bower_components/slick-carousel/slick/slick-theme.scss";
@import "../../bower_components/fancybox/dist/jquery.fancybox.css";

@font-face {
  font-family: 'Raleway-Light';
  src:url('../../src/fonts/Raleway-Light.ttf');
}

@font-face {
  font-family: 'Raleway-Regular';
  src:url('../../src/fonts/Raleway-Regular.ttf');
}

/*
* Custom
*/
@import "partials/app.scss";
@import "partials/main-screen.scss";
@import "partials/wrapper.scss";
@import "partials/tips.scss";
@import "partials/basic.scss";
@import "partials/header-top.scss";
@import "partials/main-menu.scss";
@import "partials/animations.scss";
@import "partials/main-slider.scss";
@import "partials/social-icon.scss";
@import "partials/footer.scss";
@import "partials/left-menu.scss";
@import "partials/portfolio-screen.scss";
@import "partials/competition-screen.scss";
@import "partials/main-block.scss";
@import "partials/phone-svg.scss";
@import "partials/feedback.scss";
