.about-screen {
  width: 70%;
  margin: 0 auto;
  font-family: Raleway-Regular;
  font-weight: 500;
  font-size: 18px;

  @media (max-width: $tablet) {
    margin-top: 150px;
  }

  @media (max-width: $phone-tight) {
    width: 80%;
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }

  &__block {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;

    @media (max-width: $tablet) {
      flex-flow: column wrap;
    }
  }

  &__btn-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column wrap;

    @media (max-width: $tablet) {
    }
  }

  &__text {
    width: 70%;

    @media (max-width: $tablet) {
      order: 1;
      width: 100%;
    }
  }

  &__text-title {
    @media (max-width: $tablet) {
        text-align: center;
    }
  }

  &__preview {
    @media (max-height: 800px) {
      font-size: 14px;
    }

    @media (min-height: 700px) {
      font-size: inherit;
    }
  }

  &__personal-information {
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;

    @media (max-width: $tablet) {
      order: 0;
      width: 100%;
      flex-flow: row wrap;
    }
  }

  &__cooperation-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: $tablet) {
      flex-flow: column wrap;
      align-items: center;
    }
  }

  &__cooperation-item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex: 1;
    margin-right: 20px;
    padding: 20px 10px;
    text-align: center;

    @media (max-width: 1500px) {
      font-size: 14px;
    }

    @media (max-width: $tablet) {
      margin-right: 0;
      font-size: inherit;
    }


    &:last-child {
      margin-right: 0;
    }

    &:hover .about-screen__cooperation-icon:after {
      width: 150%;
    }
  }

  &__cooperation-icon {
    font-size: 42px !important;
    color: #F2A452;
    margin-bottom: 30px;
    position: relative;

    &:after {
      content: '';
      background-color: #7EB9E9;
      width: 0;
      height: 3px;
      position: absolute;
      transition: .3s all;
      bottom: -10px;
      left: -25%;
    }

  }

  &__cooperation-title {
    @media (max-width: $tablet) {
      text-align: center;
    }
  }

  &__photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);

    @media (max-height: 800px) {
      width: 100px;
      height: 100px;
    }

    @media (min-height: 700px) {
      width: 200px;
      height: 200px;
    }
  }

  &__brief {
    background-color: #7EB9E9;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 2px;
    transition: .3s all;

    &:hover {
      background: rgba(0,0,0,.1);
      color: #000;
    }
  }

  &__rules {
    background-color: #F4B161;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 2px;
    transition: .3s all;

    &:hover {
      background: rgba(0,0,0,.1);
      color: #000;
    }
  }
}
