// BURGER MAIN_MENU

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 22px;
    transform: rotate(0);
  }
  100% {
    top: 22px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 22px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

// rotateGlobe

@keyframes rotateGlobe {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// main block

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(50px);
  opacity: 0;
}

/*social icon*/

@keyframes circleCenter {
  from {}
  25% {left: 30px; top: 50px;}
  50% {}
  to { opacity: 0 }
}

@keyframes initialCircle {
  from {left: 30px; top: 50px;}
  to {}
}

// left menu

@keyframes leftMenu {
  from {width: 0}
  to {width: 300px}
}

@keyframes leftMenuBack {
  from {width: 300px}
  to {width: 0}
}

@keyframes iconLeftMenu {
  from {}
  50% {color: #fff; transform: rotate(-35deg)}
  75% {color: #000; transform: rotate(20deg)}
  100% {transform: rotate(0deg)}
}

@keyframes lineLeftMenu {
  from {width: 60%; left: -40px;}
  50% {width: 100%; left: 0;}
  75% {}
  100% {width: 100%; left: 0;}
}

@keyframes linkLeftMenu {
  from {top: 20px;}
  50% {}
  75% {top: 0; opacity: 1}
  100% {color: #7EB9E9; top: 0; opacity: 1}
}

//social icons

$color: #E94E3D;

@keyframes border{
  25% {
    box-shadow: -25px -25px 0 2px transparent, -25px 25px 0 2px #fff, 25px -25px 0 2px #fff, 25px 25px 0 2px #fff,  0 0 3px 1px #7EB9E9;
  }

  50% {
    box-shadow: -25px -25px 0 2px transparent, -25px 25px 0 2px transparent, 25px -25px 0 2px #fff, 25px 25px 0 2px #fff,  0 0 3px 1px #7EB9E9;
  }

  75% {
     box-shadow: -25px -25px 0 2px transparent, -25px 25px 0 2px transparent, 25px -25px 0 2px #fff, 25px 25px 0 2px transparent,  0 0 3px 1px #7EB9E9;
   }

  100% {
    box-shadow: -25px -25px 0 2px transparent, -25px 25px 0 2px transparent, 25px -25px 0 2px transparent, 25px 25px 0 2px transparent,  0 0 3px 1px #7EB9E9;
  }

}

// main-bg

@keyframes bgMove {
  from {background-position: 0 0}
  to {background-position: 4400px 4400px;}

}

// close social

@keyframes animClose {
  0% {
    opacity: 0;
    transform: rotate(30deg);
  }

  50% {
    opacity: 0.5;
    transform: rotate(-20deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

// time dots

@keyframes dotsBlink {
  50% { opacity: 0; }
}

// bottom-menu

@keyframes hiddenMenu {

  100% {bottom: 60px; height: 250px;}
}

// rotate-Phone

@keyframes rotatePhone {
  0% {transform: rotate(-45deg)}
  50% {transform: rotate(30deg)}
  100% {transform: rotate(0)}
}

.preloader {
  position: fixed;
  background: #fff;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
