$tablet: 992px;
$phone-wide: 768px;
$phone: 700px;
$phone-alm-tight: 400px;
$phone-tight: 320px;

body {
  font-family: 'Open Sans';
  overflow: hidden;

  @media (max-width: 992px) {
    overflow-y: scroll;
  }

}