.bottom-menu {
  position: fixed;
  background-color: #fff;
  bottom: 0;
  display: none;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);

  &__wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #fff;
    z-index: 10;
    padding: 10px 0;
    border-top: 1px solid #f2f2f2;
  }

  &__wrapper-hidden {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
  }
  
  &__social-icon {
    text-align: center;
  }

  &__phone {
    color: #000;

    &.active svg {
      animation: rotatePhone 0.4s linear forwards;
    }

    &:active svg{
      fill: #86B9E9;
    }
  }

  &__phone-block {
    margin-left: 40px;
  }

  &__icon-block {
    margin-right: 40px;
  }

  &__icon-phone {
    font-size: 36px;
  }

  &__icon-menu {
    cursor: pointer;
    font-size: 36px;

    &:active .active-path{
      fill: #86B9E9;
    }
  }

  &__hidden-block {
    display: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: absolute;
    height: 60px;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    transition: .4s all;
    box-shadow: 0 0 10px 0 rgba(0,0,0, 0.1);


    &.active {
      display: flex;
      animation: hiddenMenu 0.3s linear forwards;
    }
  }

  @media (max-width: $tablet) {
    display: block;
  }

  &__tip {
    position: absolute;
    top: -120px;
    font-size: 20px;
    text-decoration: none;
    left: 40px;
    box-shadow: 0 0 10px 0 rgba(105, 219, 121, 0.3);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    display: none;
    z-index: 10;
    background-color: #69db79;

  }
}
