.competition-screen {
  width: 70%;
  margin: 0 auto;

  @media (max-width: $tablet) {
    margin-top: 150px;
  }

  @media (max-width: $phone-tight) {
    width: 80%;
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }

  &__item {
    font-size: 24px;
    position: relative;
    width: 80%;
    cursor: default;
    &:before {
      background-color: #A4CEEF;
      content: '';
      opacity: 0.3;
      position: absolute;
      width: 70px;
      height: 70px;
      z-index: 10;
      left: -50px;
      top: -40px;
      transition: opacity .3s linear;
    }

    &:after {
      background-color: #EFB162;
      content: '';
      opacity: 0.3;
      position: absolute;
      width: 60px;
      height: 60px;
      z-index: 10;
      left: -10px;
      top: -10px;
      transition: opacity .2s linear;
    }

    &:hover:before {
      opacity: 0.8;
    }

    &:hover:after {
      opacity: 0.5;
    }
  }

  &__item-title {
    font-size: 20px;
    z-index: 100;
    padding: 5px 10px;
    position: relative;
    background-color: #fff;

    &:before {
      background-color: #fff;
      content: '';
      opacity: 0.5;
      position: absolute;
      width: 20px;
      height: 20px;
      z-index: 10;
      left: -20px;
      top: -20px;
    }

    @media (min-width: $tablet) {
      @media (max-height: 800px) {
        font-size: 16px;
      }
    }

  }

  &__item-more {
    font-size: 14px;
    padding: 20px 0;

    @media (min-width: $tablet) {
      @media (max-height: 800px) {
        font-size: 12px;
      }
    }
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    justify-items: center;

    @media (min-width: $tablet) {
      @media (max-height: 800px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        grid-row-gap: 20px;
      }
    }

    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 50px;

      @media (min-height: 800px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    @media (max-width: $tablet) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
    }

    @media (max-width: 600px) {
      grid-row-gap: 100px;
      grid-column-gap: 20px;
    }

    @media (max-width: $phone) {
      grid-template-columns: 1fr;
      grid-gap: 100px;
    }
  }
}
