.competition-screen {
  width: 70%;
  margin: 0 auto;

  @media (max-width: $tablet) {
    margin-top: 150px;
  }

  @media (max-width: $phone-tight) {
    width: 80%;
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }

  &__item {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    background-color: #fff;
    width: 100%;
    height: auto;
    text-align: left;
    font-size: 24px;
    position: relative;
    margin: 0 auto;
  }

  &__item-title {
    cursor: pointer;
    padding: 20px;
    font-size: 20px;

    @media (min-width: $tablet) {
      @media (max-height: 800px) {
        font-size: 16px;
      }
    }

  }

  &__item-more {
    position: absolute;
    width: 70%;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    padding: 20px;
    left: 0;
    z-index: 10;

    @media (min-width: $tablet) {
      @media (max-height: 800px) {
        font-size: 12px;
      }
    }
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 100px;

    @media (min-width: $tablet) {
      @media (max-height: 800px) {
        grid-gap: 30px;
        grid-row-gap: 60px;
      }
    }

    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 50px;
    }

    @media (max-width: $tablet) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
    }

    @media (max-width: 600px) {
      grid-row-gap: 100px;
      grid-column-gap: 20px;
    }

    @media (max-width: $phone) {
      grid-template-columns: 1fr;
      grid-gap: 100px;
    }
  }
}
