.header-top {

  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  width: 80%;
  margin: 0 auto;

  &__initial-image {
    opacity: 1;
  }

  &__item {
    display: none;
    cursor: pointer;
    &_active {
      display: block;
      position: relative;
      z-index: 999;
      cursor: pointer;
    }
  }

  &__phone {
    font-size: 32px;
    text-decoration: none;
    color: #000;
    //border: 2px solid #F44336;
    padding: 5px 20px;
    position: relative;

    &:hover .phone-svg__line {
      stroke-width: 2px;
      stroke-dashoffset: 0;
      stroke-dasharray: 760;
    }
  }

  &__lang-block {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__lang-text {
    font-size: 32px;
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;

    &.active:before {
      content: '';
      width: 100%;
      position: absolute;
      background-color: #74B9E9;
      height: 3px;
      bottom: -3px;
    }

    &:hover:not(.active) {
      &:before {
        content: '';
        width: 100%;
        position: absolute;
        background-color: #FAB161;
        height: 3px;
        bottom: -3px;
      }
    }
  }

  &__lang-icon {
    font-size: 46px;
    cursor: pointer;
    padding: 20px;
    position: relative;
    z-index: 90;
    &:hover {
      animation: rotateGlobe 0.7s forwards;

      & ~ .tip__globe {
        top: 80px;
        opacity: 1;
      }
    }
  }

  &__lang-text-block {
    display: none;
    flex-flow: column wrap;
    position: absolute;
    z-index: 99;
    left: 10px;
    top: 10px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
    padding: 10px 15px;
    background: #fff;
  }
}