.main-screen {
  &__name {
    font-family: Raleway-Light;
    font-size: 64px;
    margin: 10px 0;
    position: relative;
    font-weight: 500;

    @media (max-width: $phone-wide) {
      font-size: 46px;
    }

    @media (max-width: $phone-alm-tight) {
      font-size: 36px;
    }
    &:before {
      content: '';
      width: 50%;
      height: 5px;
      background-color: #fab161;
      position: absolute;
      bottom: -15px;
      left: 5px;

      @media (max-width: $tablet) {
        width: 100%;
        left: 0;
      }
    }
  }

  &__prof {
    font-size: 36px;
    @media (max-width: $phone-alm-tight) {
      font-size: 28px;
    }
  }

  &__img-container {
    margin: 50px 0;
  }

  &__img-item {
    background-image: url('/img/iphone.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 540px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    position: relative;

    @media (min-width: $tablet) {

    @media (max-height: 800px) {
      height: 340px;
      border-radius: 10px;
      background-size: initial;
    }

    }
  }

  &__title-block {
    color: #000;

    @media (max-width: $tablet) {
      order: 1;
      text-align: center;

    }
  }

  &__wrapper-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0 auto;

    @media (max-width: 1200px) {
      width: 100%;
    }

    @media (max-width: $tablet) {
      flex-flow: column wrap;
      width: 70%;
      padding-top: 70px;
    }

    @media (max-width: $phone-wide) {
      width: 100%;
      background: url(/img/lines-bg.png);
      min-height: 470px;
      background-position: 0 0;
      background-size: cover;
      background-repeat: repeat;
      -webkit-animation: bgMove 120s linear infinite forwards;
      animation: bgMove 120s linear infinite forwards;
    }
  }

  &__img-block {
    @media (max-width: $tablet) {
      order: 0;
    }

    @media (max-width: $phone-wide) {
      display: none;
    }
  }

  &__btn-block {
    display: flex;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__btn-portfolio {
    font-family: Raleway-Regular;
    background-color: #F4B161;
    padding: 10px 30px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 28px;
    position: relative;
    color: #fff;
    margin-right: 20px;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

    &:hover {
      background: transparent;
      color: #000 !important;

      &:before {
        z-index: 5;
      }
    }

    &:before {
      display: block;
      position: absolute;
      left: 0px;
      bottom: 0px;
      height: 0%;
      width: 100%;
      z-index: -1;
      content: '';
      color: #000 !important;
      background: rgba(250, 177, 97, 0.2);
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

    }

    &:hover:before {
      top: 0%;
      bottom: auto;
      height: 100%;
    }


  }

  &__btn-competition {
    font-family: Raleway-Regular;
    background-color: #7EB9E9;
    padding: 10px 30px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 28px;
    color: #fff;
    position: relative;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

    &:hover {
      background: transparent;
      color: #000 !important;

      &:before {
        z-index: 5;
      }
    }

    &:before {
      display: block;
      position: absolute;
      left: 0px;
      bottom: 0px;
      height: 0%;
      width: 100%;
      z-index: -1;
      content: '';
      color: #000 !important;
      background: rgba(126, 185, 233, 0.2);
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

    }

    &:hover:before {
      top: 0%;
      bottom: auto;
      height: 100%;
    }
  }

  &__date {
    position: absolute;
    top: 120px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    @media (min-width: $tablet) {
      @media (max-height: 800px) {
        top: 40px;
      }
    }

    &-time {
      position: relative;
    }

    &-dots {
      position: relative;
      animation: dotsBlink 3s infinite 1s;
    }
  }

  &__date-time {
    font-family: SFUI;
    font-size: 56px;
    color: #fff;
  }

  &__date-days {
    font-family: SFUI;
    font-size: 16px;
    color: #fff;
  }

}
