.main-screen {
  &__name {
    font-family: Raleway-Light;
    font-size: 64px;
    margin: 10px 0;
    position: relative;
    font-weight: 500;
    &:before {
      content: '';
      width: 50%;
      height: 5px;
      background-color: #fab161;
      position: absolute;
      bottom: -15px;
      left: 5px;
    }
  }

  &__prof {
    font-size: 36px;
  }

  &__img-container {
    margin: 50px 0;
  }

  &__title-block {
    color: #000;
  }

  &__wrapper-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0 auto;
  }

  &__btn-block {
    display: flex;
    justify-content: space-between;
  }

  &__btn-portfolio {
    font-family: Raleway-Regular;
    background-color: #F4B161;
    padding: 10px 30px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 28px;
    position: relative;
    color: #fff;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

    &:hover {
      background: transparent;
      color: #000 !important;

      &:before {
        z-index: 5;
      }
    }

    &:before {
      display: block;
      position: absolute;
      left: 0px;
      bottom: 0px;
      height: 0%;
      width: 100%;
      z-index: -1;
      content: '';
      color: #000 !important;
      background: rgba(0, 0, 0, 0.1);
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

    }

    &:hover:before {
      top: 0%;
      bottom: auto;
      height: 100%;
    }


  }

  &__btn-competition {
    font-family: Raleway-Regular;
    background-color: #7EB9E9;
    padding: 10px 30px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 28px;
    color: #fff;
    position: relative;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

    &:hover {
      background: transparent;
      color: #000 !important;

      &:before {
        z-index: 5;
      }
    }

    &:before {
      display: block;
      position: absolute;
      left: 0px;
      bottom: 0px;
      height: 0%;
      width: 100%;
      z-index: -1;
      content: '';
      color: #000 !important;
      background: rgba(0, 0, 0, 0.1);
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

    }

    &:hover:before {
      top: 0%;
      bottom: auto;
      height: 100%;
    }
  }

}