.portfolio-screen {
  width: 70%;
  margin: 0 auto;

  &__title {
    text-align: center;
  }

  &__item-img {
    width: 400px;
    height: 200px;
  }

  &__block {
    display: flex;
    justify-content: space-around;
  }
}