// img 1920x1268

.portfolio-screen {
  width: 70%;
  margin: 0 auto;

  @media (max-width: $tablet) {
    margin-top: 150px;
  }

  @media (max-width: $phone-wide) {
    margin-top: 50px;
  }

  @media (max-width: $phone-tight) {
    width: 80%;
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }

  &__item {
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      width: 100%;
      height: 99%;
      border-radius: 5px;
      background-color: rgba(0,0,0,.3);
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      transition: width .2s linear;
    }

    &:hover::after {
      width: 0;
    }

    &:hover::after {
      width: 0;
    }
  }

  &__item-main-title {
    position: absolute;
    z-index: 10;
    text-decoration: none;
    color: #fff;
    font-size: 36px;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: Raleway;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    transition: opacity .3s linear;

    @media (max-width: $phone) {
      font-size: 28px;
    }

    &:hover {
      opacity: 0;
    }
  }

  &__item-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    top: 0;
    position: relative;
    transition: all .3s ease-in-out;
  }

  &__item-title {
    font-weight: 600;
    font-size: 15px;
    font-family: Raleway;
    text-decoration: none;
    display: block;
    color: #000;
    height: 50px;
  }

  &__item-engine {
    font-family: Raleway-Regular;
    padding-top: 10px;
    display: inline-flex;
    align-self: flex-end;
    width: fit-content;
    position: relative;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    &:hover {
      color: #7EB9E9;
    }

    &:before {
      content: '';
      background-color: #F4B161;
      width: 2px;
      height: 100%;
      position: absolute;
      left: -10px;
      top: 5px;
    }
  }

  &__item-block {
    position: relative;
    display: flex;
    flex-flow: column wrap;
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;

    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__info {
    margin: 10px 0;
    list-style: none;
    padding: 0 20px;
    font-family: Raleway-Regular;

    &-item {
      padding: 5px 0;
      position: relative;

      &:before {
        content: '';
        width: 5px;
        height: 5px;
        display: inline-block;
        background: #74b9e9;
        border-radius: 50%;
        position: absolute;
        top: 12px;
        left: -20px;
      }
    }
  }

  &__info-block {
    display: flex;
    justify-content: space-between;
  }
}
