.social-icon {
  &.not-active .social-icon__circle{
      animation: initialCircle 0.5s ease-in-out forwards;
  }
  position: relative;
  cursor: pointer;
  width: 120px;
  height: 120px;

  &__circle {
    left: 50px;
    top: 50px;
    background-color: #74B9E9;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
  }

  &__wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.1);
  }

  &__popup {
    position: absolute;
    bottom: 20px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 50px;
    z-index: 99999;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0, 0.1);


    &-block {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      background: #fff;
      &:hover {
        animation: border .5s ease-in-out 1 forwards;
        color: #fff;
      }
    }
    &-icon {
      position: absolute;
      font-size: 24px;
      cursor: pointer;
      color: #000;
    }
  }

  &__popup-close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 999;
    transition: .4s all;
    &:hover {
      animation: animClose 0.5s ease-in-out forwards;
    }
  }
}

.circle-animation {
  animation: circleCenter 0.5s ease-in-out forwards;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}