.social-icon {
  &.not-active .social-icon__circle{
      animation: initialCircle 0.5s ease-in-out forwards;
  }
  position: relative;
  cursor: pointer;
  width: 120px;
  height: 120px;

  &__circle {
    left: 50px;
    top: 50px;
    background-color: #74B9E9;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
  }

  &__wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.1);
  }

  &__popup {
    position: absolute;
    top: 0;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2em;
    padding: 20px;
    z-index: 99999;

    &-block {
      width: 50px;
      height: 50px;
      background-color: #42b983;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    &-icon {
      position: absolute;
    }
  }
}

.circle-animation {
  animation: circleCenter 0.5s ease-in-out forwards;
}