.tip {
  position: absolute;
  white-space: nowrap;
  padding: 20px;
  border: 1px solid #DCDCDC;
  border-radius: 5px;

  &__globe {
    top: 40px;
    z-index: 20;
    opacity: 0;
    transition: .4s all;
    left: 10px;

    @media (max-width: $tablet) {
      left: -20px;
    }
  }

  &:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #dcdcdc transparent;

    @media (max-width: $tablet) {
      left: 45px;
    }
  }
}
