<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Я собираю проекты как рок звезда</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <div class="wrapper"  id="app">
        <!-- LEFT_MENU -->

        <div class="left-menu">
            <div @click="clickMain()" class="left-menu__link-block">
                <i class="left-menu__icon fa fa-home" :class="{ 'active': main }"></i>
                <a v-if="main" href="javascript:void(0);" class="left-menu__link" :class="{ 'active': main }">
                    <span class="left-menu__line" :class="{ 'active': main }"></span>
                    Главная
                </a>
                <span class="left-menu__title" v-else>Главная</span>
            </div>
            <div @click="clickPortfolio()" class="left-menu__link-block">
                <i class="left-menu__icon fa fa-suitcase" :class="{ 'active': portfolio }"></i>
                <a v-if="portfolio" href="javascript:void(0);" class="left-menu__link" :class="{ 'active': portfolio }">
                    <span class="left-menu__line" :class="{ 'active': portfolio }"></span>
                    Портфолио
                </a>
                <span class="left-menu__title" v-else >Портфолио</span>
            </div>
            <div @click="clickCompetition()" class="left-menu__link-block">
                <i class="left-menu__icon fa fa-desktop" :class="{ 'active': competition }"></i>
                <a v-if="competition" href="javascript:void(0);" class="left-menu__link" :class="{ 'active': competition }">
                    <span class="left-menu__line" :class="{ 'active': competition }"></span>
                    Компетенции
                </a>
                <span class="left-menu__title" v-else>Компетенции</span>
            </div>
        </div>

        <!-- HEADER_TOP -->
    <header class="header-top">
        <div class="header-top__menu-block">
            <div class="main-menu__btn not-active">
                <span class="main-menu__line"></span>
                <span class="main-menu__line"></span>
                <span class="main-menu__line"></span>
            </div>
        </div>
        <div class="header-top__logo-block">
            <img class="header-top__item_active" src="img/logo.png" alt="">
        </div>
        <div class="header-top__phone-block">
            <a href="tel:+79806572472" class="header-top__phone">+ 7 980-657-24-72</a>
        </div>
        <div class="header-top__lang-block">
            <i class="header-top__lang-icon fa fa-globe"></i>
            <div class="header-top__lang-text-block">
                <span class="header-top__lang-text active">Ru</span>
                <span class="header-top__lang-text">En</span>
                <span class="header-top__lang-text">Fr</span>
            </div>
            <div class="tip tip__globe">
                Switch language
            </div>
        </div>
    </header>

        <main style="position: relative;" class="main-block">
            <div class="main-slider">
                <transition name="slide-fade">
                    <div v-if="main" class="main-screen main-slider__item">
                        <div class="main-screen__wrapper-block">
                            <div class="main-screen__title-block">
                                <h1 class="main-screen__name">Бровкин Артем</h1>
                                <h3 class="main-screen__prof">Веб-разработчик и <br/>дизайнер</h3>
                                <div class="main-screen__btn-block">
                                    <a @click="clickPortfolio()" href="javascript:void(0);" class="main-screen__btn-portfolio">Портфолио</a>
                                    <a @click="clickCompetition()" href="javascript:void(0);" class="main-screen__btn-competition">Компетенции</a>
                                </div>
                            </div>
                            <div class="main-screen__img-block">
                                <div class="main-screen__img-container">
                                    <img src="img/photo_gallery.jpg" alt="" class="main-screen__img-item">
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
                <transition name="slide-fade">
                    <div v-if="portfolio" class="main-slider__item">
                        <div class="main-screen__wrapper-block">
                            Портфолио
                        </div>
                    </div>
                </transition>
                <transition name="slide-fade">
                    <div v-if="competition" class="main-screen main-slider__item">
                        <div class="main-screen__wrapper-block">
                            Компетенции
                        </div>
                    </div>
                </transition>
            </div>
        </main>

        <div  style="width: 100px; margin: 0 auto; position: relative;">
            <transition name="slide-fade">
                <div v-if="main" style="margin: 10px 0; background-color:#555; position: absolute;" class="block">Main</div>
            </transition>
            <transition name="slide-fade">
                <div v-if="portfolio" style="margin: 10px 0; background-color:#777; position: absolute;" class="block">Portfolio</div>
            </transition>
            <transition name="slide-fade">
                <div v-if="competition" style="margin: 10px 0; background-color:#999; position: absolute;" class="block">Competition</div>
            </transition>




            <a style="position:absolute; top: 20px" @click="clickMain()" href="javascript:void(0);" class="btn">Главная</a>
            <a style="position:absolute; top: 50px" @click="clickPortfolio()" href="javascript:void(0);" class="btn">Портфолио</a>
            <a style="position:absolute; top: 100px" @click="clickCompetition()" href="javascript:void(0);" class="btn">Компетенции</a>
        </div>

        <footer class="footer">
            <div class="footer__wrapper">
                <div class="footer__social-block">
                    <div class="social-icon not-active">
                            <span class="social-icon__circle" style="left: 0; top: 20px;"></span>
                            <span class="social-icon__circle" style="left: 30px; top: 20px;"></span>
                            <span class="social-icon__circle" style="left: 60px; top: 20px;"></span>

                            <span class="social-icon__circle" style="left: 0; top: 50px;"></span>
                            <span class="social-icon__circle" style="left: 30px; top: 50px;"></span>
                            <span class="social-icon__circle" style="left: 60px; top: 50px;"></span>

                            <span class="social-icon__circle" style="left: 0; top: 80px;"></span>
                            <span class="social-icon__circle" style="left: 30px; top: 80px;"></span>
                            <span class="social-icon__circle" style="left: 60px; top: 80px;"></span>
                    </div>
                </div>
                <div class="footer__copyright-block">
                    &copy;
                </div>
            </div>
        </footer>

    </div>

    <script src="js/main.js"></script>
</body>
</html>